<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <i class="ti-shield menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" href="/admins">
          <i class="ti-layout-list-post menu-icon"></i>
          <span class="menu-title">Add Property</span>
        </a>
      </li>
      
       <li class="nav-item">
        <a class="nav-link" href="/table">
          <i class="ti-view-list-alt menu-icon"></i>
          <span class="menu-title">Manage Property</span>
        </a>
      </li>
     
      
      <li class="nav-item">
        <a class="nav-link" href="pages/charts/chartjs.html">
          <i class="ti-pie-chart menu-icon"></i>
          <span class="menu-title">Charts</span>
        </a>
      </li>
     
    </ul>
  </nav>