<!DOCTYPE html>
<html lang="en">
<head>
<title>Charlkom Properties</title>
<meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Charlkom Properties">
  <meta name="description" content="Charlkom Real estate">

  <!-- Favicons -->
  <link href="/images/logo.jpeg" rel="icon">
  <link href="/images/logo.jpeg" rel="apple-touch-icon">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

 	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="/assets/style.css"/>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="/assets/bootstrap/js/bootstrap.js"></script>
  <script src="/assets/script.js"></script>



<!-- Owl stylesheet -->
<link rel="stylesheet" href="/assets/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="/assets/owl-carousel/owl.theme.css">
<script src="/assets/owl-carousel/owl.carousel.js"></script>
<!-- Owl stylesheet -->


<!-- slitslider -->
    <link rel="stylesheet" type="text/css" href="/assets/slitslider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/slitslider/css/custom.css" />
    <script type="text/javascript" src="/assets/slitslider/js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="/assets/slitslider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="/assets/slitslider/js/jquery.slitslider.js"></script>
<!-- slitslider -->

</head>

<body>
 
  <div id="aa-preloader-area">
    
  </div>

<!-- Header Starts -->
<div class="navbar-wrapper">

        <div class="navbar-inverse" role="navigation">
          <div class="container">
            <div class="navbar-header">


              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

            </div>


            <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right">
               <li class="active"><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/properties">Properties</a></li>         
                <li><a href="/blog">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->

          </div>
        </div>

    </div>
<!-- #Header Starts -->





<div class="container">

<!-- Header Starts -->
<div class="header">
<a href="/"><img class="logo" src="/images/logo.jpeg" alt="Realestate"></a>
<script type="text/javascript"> //<![CDATA[
  var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
  document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]></script>
<script language="JavaScript" type="text/javascript">
  TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_md_167x42.png", "POSDV", "none");
</script>

              <ul class="pull-right">
                <li><a href="https://www.facebook.com/profile.php?id=100087361254662" target="_blank"><img class="s-icon"  src="/images/facebook.png" alt="facebook"></a></li>
                <li><a href="https://twitter.com/Charlkom_ltd" target="_blank"><img  src="/images/twitter.png" alt="twitter"></a></li> 
                <li><a href="https://www.linkedin.com/company/charlkom-properties-limited/?viewAsMember=true" target="_blank"><img  src="/images/linkedin.png" alt="linkedin"></a></li>         
                <li><a href="https://instagram.com/charlkom_properties_ltd?igshid=NTdlMDg3MTY=" target="_blank"><img  src="/images/instagram.png" alt="instagram"></a></li>
              </ul>
</div>
<!-- #Header Starts -->
</div>

