<%- include("partials/header") %>
  <!-- banner -->
  <div class="inside-banner">
    <div class="container">
      <span class="pull-right"><a href="/">Home</a> / About Us</span>
      <h2>About Us</h2>
    </div>
  </div>
  <!-- banner -->


  <div class="container">
    <div class="spacer">
      <div class="row">
        <div class="col-lg-8  col-lg-offset-2">
          <img src="/images/about.jpeg" class="img-responsive thumbnail" alt="realestate">
          <h3>Business Background</h3>
          <p>Charlkom properties is a leading property company in Mombasa with property listings for sale,
            rent and lease. We offer Kenyan property seekers an easy way to find details of property in Kenya
            like homes, houses, lands, shops, office spaces and other commercial property within the coastal
            region. Charlkom properties has been in the real-estate market for 8 years during which we have
            helped our clients acquire real estate services within the coastal region of Kenya</p>
          <h3>Our Mission</h3>
          <p>Delivering real-estate service to all within the coastal region and reducing the tedious task
            for our clients by catering to their real-estate needs. We are also passionate about our mission
            of building generational wealth tm though real estate and are committed towards guiding prospective
            clients through the best investment opportunities in the market.Our real estate agents work
            around client’s schedule Monday Sunday so as to accommodate their needs</p>
            <h3>Vision</h3>
            <h3>What we do</h3>
            <p>Charlkom Properties are Estate Agents, and we undertake the sale and letting of real estate 
              throughout Kenya. We provide a comprehensive and professional estate agency service:</p>
              <ul>
                <li>commencing with an initial inspection of the property,</li>
                <li>followed by the development of a marketing strategy appropriate to the property and 
                  client's requirements,</li>
                <li>advertising and showing the property,</li>  
                <li>negotiating sale terms and liaising with the legal agents for buyer and seller.</li>
              </ul>
            <p>At Charlkom Properties, we understand that for many of our clients, their property may represent
               their single largest financial asset, and we take very seriously the responsibility entrusted in 
               us as estate agents, to manage the process in a professional manner, reducing stress on the owner
               and maximizing the sale value achieved.</p>
            <h3>Why us</h3>
            <p><b><i>We are convinced that delivering a completely satisfying home selling and buying experience 
              requires proactiveness and an ability to maintain solid communications throughout the transaction 
              process. Our knowledge, experience, expertise and resources set us apart allowing us to achieve 
              results that don’t just meet, but exceed our clients’ expectations. It is our commitment to provide 
              you with exceptional service from a team of highly skilled, uniquely talented individuals with high 
              integrity, extensive professional knowledge and experience, far‐reaching connections and excellence 
              in home marketing.</i></b><br><br>
              <b>OUR REPUTATION</b> within the Real Estate Industry is impeccable.<br><br>
              <b>COMMUNICATION & RESPONSIVENESS</b> We are known for our proven ability to maintain open communication around 
              the clock and a high level of responsiveness to our clients throughout the transaction process and beyond.<br>
              <b>BUYING STRATEGIES</b>  use modern technology along with our market knowledge, unsurpassed negotiation and sales 
              skills, professional experience and collaboration to assist you in identifying your desired property and securing 
              the best price and terms, while protecting your interests.<br><br>
              <b>HOME PRICING STRATEGIES</b> take pricing your home very seriously and offer the wisdom and knowledge gained 
              through decades of collective real estate experience. With a careful, in-depth analysis of all of the unique 
              features of your property and the existing market conditions we will expertly advise you on a pricing strategy 
              that creates a clear path towards your goal of a successful home sale.<br><br>
              <b>MARKET READY & DESTINED TO SELL</b> It is well known fact that homes sell faster and for more money if they are 
              prepared properly for sale. We can help you with home preparation and staging including facilitating repairs, so 
              you can net the highest price possible!<br><br>
              <b>PROFESSIONAL PHOTOGRAPHY</b> your home look fantastic online and in print. We extensively use HDR photography, 
              something you cannot see almost anywhere else in the industry, so your property photos are guaranteed to stand out. 
              Our stunning images draw more people to your listing and will make a good first impression with every home buyer.<br>
              <b>NEW HOME’S IN‐HOUSE MARKETING</b> personally walk through each of our listings with our sellers to discuss the 
              home’s highlights and features, taking a personalized approach to marketing your home in the best possible light. 
              Creative, informative and uniquely designed, our online and print advertising captures the true essence of your 
              home and the attention of prospective buyers.<br><br>
              <b>SOCIAL MEDIA:</b> Skype, Facebook, Twitter, LinkedIn …Technology has changed the way we live, play, work, 
              communicate, shop and advertise. We embrace the ever changing world of technology and are always seeking the 
              best applications to serve our clients personally and efficiently.<br><br>
              <b>COMMITMENT</b> a term that we honor. We are trusted to fulfill promises and take care of our clients’ concerns.<br><br>
              <b>PROVEN RESULTS.</b> Over the past years our brokers and agents have worked with reputable brokerage firms, 
              including Coldwell Banker, the biggest company in the industry, learning the traditional way of doing business, 
              mastering the best practices and building their network among all the active agents in the Greater Boston Area. 
              Our proven marketing strategies often result in attracting multiple offers and selling the property for far above 
              the list price in just a few days. Our proactive approach to identifying the desired properties for our buyers and 
              the way we handle the offer and negotiation process has brought us a lot of success and to our clients a new place to 
              call home. We are proud with our results and the level of our client’s satisfaction, however we never stop looking for 
              ways to improve.<br><br>
              <b>OUR TEAM OF PROFESSIONALS</b> been working together for well over a decade. Our agents, attorneys and mortgage 
              brokers maintain constant flawless communication which ensures high level of reliability. As a valuable addition to 
              our team we frequently use the services of many fine local professionals such as home inspectors, stagers, various 
              contractors, vendors and service providers.</p><br>
        </div>
        <script>
          var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?95725';
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = url;
          var options = {
        "enabled":true,
        "chatButtonSetting":{
            "backgroundColor":"#4dc247",
            "ctaText":"",
            "borderRadius":"25",
            "marginLeft":"0",
            "marginBottom":"50",
            "marginRight":"50",
            "position":"right"
        },
        "brandSetting":{
            "brandName":"Charlkom",
            "brandSubTitle":"Typically replies within a day",
            "brandImg":"https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
            "welcomeText":"Hi there! welcome to Charlkom Properties.\nHow can I help you?",
            "messageText":"Hello, I welcome to Charlkom Properties",
            "backgroundColor":"#0a5f54",
            "ctaText":"Start Chat",
            "borderRadius":"25",
            "autoShow":false,
            "phoneNumber":"254723800155"
        }
      };
          s.onload = function() {
              CreateWhatsappChatWidget(options);
          };
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
      </script>
      </div>
    </div>
  </div>

  <%- include("partials/footer") %>