<%- include("partials/header") %>
<!-- banner -->
<div class="inside-banner">
  <div class="container"> 
    <span class="pull-right"><a href="/">Home</a> / Contact Us</span>
    <h2>Contact Us</h2>
</div>
</div>
<!-- banner -->


<div class="container">
<div class="spacer">
<div class="row contact">
  <div class="col-lg-6 col-sm-6 ">


                <input type="text" class="form-control" placeholder="Full Name">
                <input type="text" class="form-control" placeholder="Email Address">
                <input type="text" class="form-control" placeholder="Contact Number">
                <textarea rows="6" class="form-control" placeholder="Message"></textarea>
      <button type="submit" class="btn btn-success" name="Submit">Send Message</button>
          


                
        </div>
  <div class="col-lg-6 col-sm-6 ">
  <div class="well"><iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3979.841645377001!2d39.6847333!3d-4.0527006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x184013ff978f72fb%3A0x11d75a589e11251a!2sCharlkom%20smart%20Realestate!5e0!3m2!1ssw!2ske!4v1668243268366!5m2!1ssw!2ske" ></iframe></div>
  </div>
</div>
</div>
</div>
<script>
  var url = 'https://wati-integration-service.clare.ai/ShopifyWidget/shopifyWidget.js?95725';
  var s = document.createElement('script');
  s.type = 'text/javascript';
  s.async = true;
  s.src = url;
  var options = {
"enabled":true,
"chatButtonSetting":{
    "backgroundColor":"#4dc247",
    "ctaText":"",
    "borderRadius":"25",
    "marginLeft":"0",
    "marginBottom":"50",
    "marginRight":"50",
    "position":"right"
},
"brandSetting":{
    "brandName":"Charlkom",
    "brandSubTitle":"Typically replies within a day",
    "brandImg":"https://cdn.clare.ai/wati/images/WATI_logo_square_2.png",
    "welcomeText":"Hi there! welcome to Charlkom Properties.\nHow can I help you?",
    "messageText":"Hello, I welcome to Charlkom Properties",
    "backgroundColor":"#0a5f54",
    "ctaText":"Start Chat",
    "borderRadius":"25",
    "autoShow":false,
    "phoneNumber":"254723800155"
}
};
  s.onload = function() {
      CreateWhatsappChatWidget(options);
  };
  var x = document.getElementsByTagName('script')[0];
  x.parentNode.insertBefore(s, x);
</script>
<%- include("partials/footer") %>