<%- include('partials/header') %>


  <div class="container">
    <div class="spacer">
      <div class="row register">
        <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">
          <h2 class="login-h1">Register</h2>
          <% if (locals.message) {%>
            <h4 class="alert alert-danger"><%= message %></h4>
          <% } %>
          <% if (locals.successMessage) {%>
            <h4 class="alert alert-success"><%= successMessage %> <a href=""> Click here to login</a></h4>
          <% } %>
          <form action="/register" method="post">
            <input type="text" class="form-control" placeholder="Name" name="username">
            <input type="email" class="form-control" placeholder="Enter Email" name="email">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <input type="password" class="form-control" placeholder="Confirm Password" name="confirmpassword">

            <button type="submit" class="btn btn-success" name="Submit">Register</button>
          </form>



        </div>

      </div>
    </div>
  </div>

  <%- include('partials/footer') %>